<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/global/global-layout.css">
    <link rel="stylesheet" href="/css/global/forms.css">
    <link rel="stylesheet" href="/css/global/register.css">
    <link rel="stylesheet" href="/css/global/dark-theme.css">
    <link rel="stylesheet" href="/css/global/scrollbar.css">

    <script src="https://kit.fontawesome.com/f75c66b724.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Underdog&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rock+Salt&family=WDXL+Lubrifont+TC&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav id="navbar" class="">
            <div class="nav-group1">
                <div class="font-1 logo">
                    <p><strong>AttendSmart</strong></p>
                </div>
                <div class="nav-links">
                    <a href="/" class="nav-links-property hide">Home</a>
                </div>
            </div>
            <div class="nav-group2">
                <div class="nav-links">
                    <a href="/dashboard" class="nav-links-property hide">Dashboard</a>
                    <a href="/support" class="nav-links-property hide">Support</a>
                    <a href="/log" class="nav-links-property hide">Logs</a>
                    <a href="/register" class="nav-links-property hide" id="register">Register</a>
                    <a href="/login" class="nav-links-property hide">Login</a>
                    <p class="nav-links-property"><i class="fa-solid fa-moon"></i></p>
                    <p class="nav-links-property" id="sun"><i class="fa-regular fa-sun"></i></p>
                    <p class="nav-links-property" id="menu-toggle"><i class="fa-solid fa-bars"></i></p>
                </div>
            </div>

            <div class="slide-menu">
                <div class="nav-close-icon">
                    <p class="sidemenu-heading"><strong>AttendSmart</strong></p>
                    <p class="nav-links-property"><i class="fa-solid fa-xmark" id="close-toggle"></i></p>
                </div>
                <div class="slide-menu-links">
                    <a href="/dashboard" class="nav-links-property">Dashboard</a>
                    <a href="/support" class="nav-links-property">Support</a>
                    <a href="/log" class="nav-links-property">Logs</a>
                    <a href="/register" class="nav-links-property" id="register">Register</a>
                    <a href="/login" class="nav-links-property">Login</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero-bg">
            <div class="bg-content">
                <div class="left-side">
                    <div class="left-wrapper">
                        <h1 class="reg-title">Welcome to AttendSmart</h1>
                        <h3 class="reg-title">Join us NOW!</h3>
                        <p class="reg-desc">
                            Please select your registration type below. You will be redirected to the appropriate
                            form.
                        </p>
                        <div class="form-switcher">
                            <button class="switch-btn" id="student-btn"
                                onclick="window.location.href='/register/school'">
                                Register as School Student
                            </button>
                            <button class="switch-btn" id="student-btn"
                                onclick="window.location.href='/register/college'">
                                Register as College Student
                            </button>
                            <button class="switch-btn" id="employee-btn"
                                onclick="window.location.href='/register/employee'"">
                                Register as Employee
                            </button>
                        </div>

                    </div>
                </div>

                <div class=" right-side">
                                <form action="/api/org/create-org" class="admin-form-wrapper" id="admin-form"
                                    method="POST">
                                    <h2 class="form-title">Admin Registration</h2>

                                    <div class="form-section">
                                        <h3>Admin Details</h3>
                                        <div class="form-flex">
                                            <div class="form-subFlex">
                                                <div class="form-group">
                                                    <label for="adminName">Admin Name</label>
                                                    <input type="text" id="adminName" name="admin[0][adminName]"
                                                        required />
                                                </div>
                                                <div class="form-group">
                                                    <label for="adminId">Admin ID</label>
                                                    <input type="text" id="adminId" name="admin[0][adminId]" required />
                                                </div>
                                                <div class="form-group">
                                                    <label for="adminContact">Admin Contact</label>
                                                    <input type="tel" id="adminContact" name="admin[0][adminContact]"
                                                        required />
                                                </div>
                                            </div>
                                            <div class="form-subFlex">
                                                <div class="form-group">
                                                    <label for="adminEmail">Admin Email</label>
                                                    <input type="email" id="adminEmail" name="admin[0][adminEmail]"
                                                        required />
                                                </div>
                                                <div class="form-group">
                                                    <label for="adminPassword">Set Password</label>
                                                    <input type="text" id="adminPassword" name="admin[0][adminPassword]"
                                                        requied />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-section">
                                        <h3>Organization Details</h3>
                                        <div class="form-flex">
                                            <div class="form-subFlex">
                                                <div class="form-group">
                                                    <label for="orgName">Organization Name</label>
                                                    <input type="text" id="orgName" name="orgName" required />
                                                </div>
                                                <div class="form-group">
                                                    <label for="orgBranch">Branch</label>
                                                    <input type="text" id="orgBranch" name="orgBranch" required />
                                                </div>
                                                <div class="form-group">
                                                    <label for="orgType">Type</label>
                                                    <select id="orgType" name="orgType" required>
                                                        <option value="">Select</option>
                                                        <option value="school">School</option>
                                                        <option value="college">College</option>
                                                        <option value="corporate">Corporate</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group full-width">
                                                <label for="orgAddress">Organization Address</label>
                                                <input type="text" id="orgAddress" name="address" required />
                                            </div>
                                            <div class="form-subFlex">
                                                <div class="form-group">
                                                    <label for="orgContact">Organization Contact</label>
                                                    <input type="tel" id="orgContact" name="orgContact" required />
                                                </div>
                                                <div class="form-group">
                                                    <label for="orgEmail">Organization Email</label>
                                                    <input type="email" id="orgEmail" name="orgEmail" required />
                                                </div>
                                            </div>
                                            <div class="form-subFlex">
                                                <div class="form-group">
                                                    <label for="totalEmployee">Total Employees</label>
                                                    <input type="text" id="totalEmployee" name="expectedEmployees"
                                                        required />
                                                </div>
                                                <div class="form-group">
                                                    <label for="totalStudents">Total Students</label>
                                                    <input type="text" id="totalStudents" name="expectedStudents"
                                                        placeholder="Write '0' if invalid" required />
                                                </div>
                                            </div>
                                            <div class="form-group full-width">
                                                <label for="orgWebsite">Organization Website</label>
                                                <input type="url" id="orgWebsite" name="orgWebsite"
                                                    placeholder="https://example.com" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                        style="flex-direction: row; align-items: center; gap: 0.5rem; margin: 15px 0px;"
                                        id="register-terms">
                                        <input type="checkbox" id="termsCheck" name="termsCheck" required>
                                        <label for="termsCheck"
                                            style="font-size: 0.95rem; color: var(--text-secondary);">
                                            I agree to the
                                            <a href="/terms" target="_blank" style="color:var(--link)">Terms &
                                                Conditions</a> and
                                            <a href="/privacy" target="_blank" style="color:var(--link)">Privacy
                                                Policy</a>
                                        </label>
                                    </div>
                                    <button type="submit" class="submit-btn">Register Organization</button>
                                </form>
                        </div>
                    </div>
        </section>
    </main>
    <footer>
        <div class="foot-content">
            <div class="foot1">
                <div class="useful-links">
                    <a href="/register" class="links foot-links" target="_blank">Register</a>
                    <a href="/support" class="links foot-links" target="_blank">Support</a>
                    <a href="/logbook" class="links foot-links" target="_blank">LogBook</a>
                    <a href="/dashboard" class="links foot-links" target="_blank">Dashboard</a>
                </div>
                <div class="legal">
                    <p><strong>Legal</strong></p>
                    <a href="/term" class="links foot-links" target="_blank">Terms & conditions</a>
                    <a href="/policy" class="links foot-links" target="_blank">Privacy Policy</a>
                    <a href="/refund" class="links foot-links" target="_blank">Refund Policy</a>
                </div>
            </div>
            <div class="foot2">
                <div class="socials">
                    <p><strong>Socials</strong></p>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-instagram"></i> |
                        @faisal_9542</a>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-discord"></i> |
                        @famaeoxiaa</a>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-github"></i> |
                        @FaisalTaslim</a>
                </div>
                <div class="contacts">
                    <p><strong>Contacts</strong></p>
                    <p><i class="fa-solid fa-phone"></i> | +91 7449925137 </p>
                    <p><i class="fa-solid fa-envelope"></i> | mailto: support@attendsmart.io</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/global/sideNav.js"></script>
    <script src="/js/global/update-footerLayout-for-tablets.js"></script>
</body>

</html>