<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/global/global-layout.css">
    <link rel="stylesheet" href="/css/global/register.css">
    <link rel="stylesheet" href="/css/global/forms.css">
    <link rel="stylesheet" href="/css/global/themes/dark-theme-1.css">
    <link rel="stylesheet" href="/css/global/scrollbar.css">

    <script src="https://kit.fontawesome.com/f75c66b724.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Underdog&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rock+Salt&family=WDXL+Lubrifont+TC&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav id="navbar" class="">
            <div class="nav-group1">
                <div class="font-1 logo">
                    <p><strong>AttendSmart</strong></p>
                </div>
                <div class="nav-links">
                    <a href="/" class="nav-links-property hide">Home</a>
                </div>
            </div>
            <div class="nav-group2">
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="/support" class="nav-links-property hide">Support</a>
                    <a href="/log" class="nav-links-property hide">Logs</a>
                    <a href="/login" class="nav-links-property hide">Login</a>
                    <p class="nav-links-property"><i class="fa-solid fa-moon"></i></p>
                    <p class="nav-links-property" id="sun"><i class="fa-regular fa-sun"></i></p>
                    <p class="nav-links-property" id="menu-toggle"><i class="fa-solid fa-bars"></i></p>
                </div>
            </div>

            <div class="slide-menu">
                <div class="nav-close-icon">
                    <p class="sidemenu-heading"><strong>AttendSmart</strong></p>
                    <p class="nav-links-property"><i class="fa-solid fa-xmark" id="close-toggle"></i></p>
                </div>
                <div class="dash-head">
                    <h2><i class="fa-solid fa-route"></i> | Other pages</h2>
                    <div class="dash-head-nav">
                        <a href="/">Home</a>
                        <a href="/support">Support</a>
                        <a href="/log">Logs</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
            </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-content">
            <div class="left-side">
                <div class="left-wrapper">
                    <h1 class="reg-title">Welcome to AttendSmart</h1>
                    <h3 class="reg-title">Join us NOW!</h3>
                    <p class="reg-desc">
                        Please select your registration type. You will be redirected to the appropriate
                        form.
                    </p>
                </div>
            </div>

            <div class="right-side">
                <form action="/api/register-college-student" class="student-form-wrapper" id="student-form"
                    method="POST">
                    <h2 class="form-title">Student Registration</h2>

                    <fieldset class="form-section">
                        <legend>College Student Details</legend>
                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeUserName">Full Name</label>
                                <input type="text" id="collegeUserName" name="userName" required />
                            </div>

                            <div class="form-group">
                                <label for="collegeRoll">Full Roll Number</label>
                                <input type="text" id="collegeRoll" name="roll" required />
                            </div>

                            <div class="form-group">
                                <label for="collegeDept">Department</label>
                                <input type="text" id="collegeDept" name="dept" required />
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeContact">Contact Number</label>
                                <input type="tel" id="collegeContact" name="contact" required />
                            </div>

                            <div class="form-group">
                                <label for="collegeEmail">Email</label>
                                <input type="email" id="collegeEmail" name="email" required />
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeOrg">Organization Name</label>
                                <input type="text" id="collegeOrg" name="orgName" required />
                            </div>

                            <div class="form-group">
                                <label for="collegeBranch">Branch</label>
                                <input type="text" id="collegeBranch" name="orgBranch" required />
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-section">
                        <legend>Student's Subject Details</legend>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeSubject1">Subject 1</label>
                                <input type="text" id="collegeSubject1" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="collegeSubject2">Subject 2</label>
                                <input type="text" id="collegeSubject2" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="collegeSubject3">Subject 3</label>
                                <input type="text" id="collegeSubject3" name="subjectName">
                            </div>

                        </div>
                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeSubject4">Subject 4</label>
                                <input type="text" id="collegeSubject4" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="collegeSubject5">Subject 5</label>
                                <input type="text" id="collegeSubject5" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="collegeSubject6">Subject 6</label>
                                <input type="text" id="collegeSubject6" name="subjectName">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeSubject7">Subject 7</label>
                                <input type="text" id="collegeSubject7" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="collegeSubject8">Subject 8</label>
                                <input type="text" id="collegeSubject8" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="collegeSubject9">Subject 9</label>
                                <input type="text" id="collegeSubject9" name="subjectName">
                            </div>
                        </div>
                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeSubject10">Subject 10</label>
                                <input type="text" id="collegeSubject10" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="collegeSubject11">Subject 11</label>
                                <input type="text" id="collegeSubject11" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="collegeSubject12">Subject 12</label>
                                <input type="text" id="collegeSubject12" name="subjectName">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-section">
                        <legend>Password Setup</legend>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="Password3">Set Password</label>
                                <input type="text" id="Password3" name="password" required />
                            </div>
                            <div class="form-group">
                                <label for="collegeConfirmPassword">Confirm Password</label>
                                <input type="text" id="collegeConfirmPassword" name="confirmPassword" required />
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group" id="register-terms"
                        style="flex-direction: row; align-items: center; gap: 0.5rem; margin: 15px 0px;">
                        <input type="checkbox" id="termsCheck" name="termsCheck" required>
                        <label for="termsCheck" style="font-size: 0.95rem; color: var(--text-secondary);">
                            I agree to the
                            <a href="/terms" target="_blank" style="color:var(--link)">Terms & Conditions</a> and
                            <a href="/privacy" target="_blank" style="color:var(--link)">Privacy Policy</a>
                        </label>
                    </div>

                    <button type="submit" class="submit-btn">Register Student</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="foot-content">
            <div class="foot1">
                <div class="useful-links">
                    <a href="/register" class="links foot-links" target="_blank">Register</a>
                    <a href="/support" class="links foot-links" target="_blank">Support</a>
                    <a href="/logbook" class="links foot-links" target="_blank">LogBook</a>
                    <a href="/dashboard" class="links foot-links" target="_blank">Dashboard</a>
                </div>
                <div class="legal">
                    <p><strong>Legal</strong></p>
                    <a href="/term" class="links foot-links" target="_blank">Terms & conditions</a>
                    <a href="/policy" class="links foot-links" target="_blank">Privacy Policy</a>
                    <a href="/refund" class="links foot-links" target="_blank">Refund Policy</a>
                </div>
            </div>
            <div class="foot2">
                <div class="socials">
                    <p><strong>Socials</strong></p>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-instagram"></i> |
                        @faisal_9542</a>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-discord"></i> |
                        @famaeoxiaa</a>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-github"></i> |
                        @FaisalTaslim</a>
                </div>
                <div class="contacts">
                    <p><strong>Contacts</strong></p>
                    <p><i class="fa-solid fa-phone"></i> | +91 7449925137 </p>
                    <p><i class="fa-solid fa-envelope"></i> | mailto: support@attendsmart.io</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/global/sideNav.js"></script>
    <script src="/js/global/update-footerLayout-for-tablets.js"></script>
    <script src="/js/page-specific/reg-switch.js"></script>
</body>

</html>