:root {
    --bg-primary: #F8F7F4;
    --bg-secondary: #E0E0E0;
    --bg-card: #FFFFFF;
    --gradiant:linear-gradient(120deg, #FFFFFF 0%, #EDEDED 40%, #D9D9D9 100%);

    --text-primary: #1A1A1A;
    --text-secondary: #2E2E2E;
    --text-muted: #6B6B6B;

    --accent: #2E2E2E;
    --accent-hover: #1A1A1A;

    --link: #3A3A3A;
    --link-hover: #000000;

    --border-color: #D1D1D1;
    --icon-primary: #2E2E2E;

    --error: #B00020;
    --tip-text: #6B6B6B;
}