<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
    <link rel="stylesheet" href="../../public/css/global/theme/light-theme.css">
    <link rel="stylesheet" href="../../public/css/global/ui-components/font-family.css">
    <link rel="stylesheet" href="../../public/css/global/ui-components/scrollbar.css">
    <link rel="stylesheet" href="../../public/css/global/layout/header.css">
    <link rel="stylesheet" href="../../public/css/global/layout/footer.css">
    <link rel="stylesheet" href="../../public/css/global/ui-components/forms.css">
    <link rel="stylesheet" href="../../public/css/global/ui-componenets/popup.css">
    <link rel="stylesheet" href="../../public/css/page-specific/homepage/main.css">
    <link rel="stylesheet" href="../../public/css/global/layout/dashboard-main.css">

    <script src="https://kit.fontawesome.com/f75c66b724.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <header>
        <div class="logo">
            <h1 class="hide-in-mobile">AttendSmart - Smart Attendance Solution</h1>
            <h2 class="small-heading">AttendSmart</h2>
        </div>

        <nav class="nav-bar">
            <a href="/" class="nav-links-property">Home</a>
            <a href="/logout" class="nav-links-property">Logout</a>
            <a href="/guidebook" class="nav-links-property">GuideBook</a>
        </nav>

        <nav class="mobile-nav-container">
            <div class="nav-select">
                <select id="mobile-nav">
                    <option value="" disabled selected>-- Navigate --</option>
                    <option value="/">Home</option>
                    <option value="/logout">Logout</option>
                    <option value="/guidebook">GuideBook</option>
                </select>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-1">
            <div class="right-side">
                <button class="nav-toggle" aria-label="Open menu">
                    ☰
                </button>
                <div class="sidenav-wrapper">
                    <div class="dashboard-sidenav">

                        <h1 class="hide-in-pc">AttendSmart</h1>

                        <div class="dash-head">
                            <h2><span>General</span></h2>
                            <div class="dash-head-nav">
                                <p>Profile</p>
                                <p>Settings</p>
                                <p>Support</p>
                            </div>
                        </div>

                        <div class="dash-head">
                            <h2><span>Attendance</span></h2>
                            <div class="dash-head-nav">
                                <p>Start Session</p>
                                <p>Edit Attendance</p>
                                <p>Attendance History</p>
                            </div>
                        </div>

                        <div class="dash-head">
                            <h2><span>Students</span></h2>
                            <div class="dash-head-nav">
                                <p>View Students</p>
                                <p>Mark Leave</p>
                                <p>Student Attendance</p>
                            </div>
                        </div>

                        <div class="dash-head">
                            <h2><span>Communication</span></h2>
                            <div class="dash-head-nav">
                                <p>Send Notice</p>
                                <p>View Announcements</p>
                            </div>
                        </div>

                        <div class="dash-head">
                            <h2><span>Reports</span></h2>
                            <div class="dash-head-nav">
                                <p>Download Reports</p>
                                <p>Monthly Summary</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="foot-content">
            <div class="foot1">
                <div class="useful-links">
                    <p><strong>Useful-links</strong></p>
                    <a href="#register" class="links foot-links" target="_blank">Register</a>
                    <a href="#support-forms" class="links foot-links" target="_blank">Support</a>
                    <a href="/dashboard" class="links foot-links" target="_blank">Dashboard</a>
                </div>
                <div class="legal">
                    <p><strong>Legal</strong></p>
                    <a href="#" class="links foot-links" target="_blank">Terms & conditions</a>
                    <a href="#" class="links foot-links" target="_blank">Privacy Policy</a>
                    <a href="#" class="links foot-links" target="_blank">Refund Policy</a>
                </div>
            </div>
            <div class="foot2">
                <div class="socials">
                    <p><strong>Socials</strong></p>
                    <a href="#" class="links foot-links" target="_blank">
                        <i class="fa-brands fa-instagram"></i> | @faisal_9542
                    </a>
                    <a href="#" class="links foot-links" target="_blank">
                        <i class="fa-brands fa-discord"></i> | @famaeoxiaa
                    </a>
                    <a href="#" class="links foot-links" target="_blank">
                        <i class="fa-brands fa-github"></i> | @FaisalTaslim
                    </a>
                </div>
                <div class="contacts">
                    <p><strong>Contacts</strong></p>
                    <p><i class="fa-solid fa-phone"></i> | +91 7449925137 </p>
                    <p><i class="fa-solid fa-envelope"></i> | mailto: faisaltaslim79@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../../public/js/global/layout/side-nav.js"></script>
    <script src="../../public/js/global/layout/rearrange-footer.js"></script>
</body>

</html>