@media (max-width: 540px) {
    .nav-bar {display: none;}
    .pc-header {display: none;}
    .mobile-header {
        display: block;
        font-size: 1.2rem;
    }
    .mobile-nav-container {
        display: block;
    }
    header {
        gap: unset;
        justify-content: space-between;
        padding: 0.8rem 1rem;
        height: auto;
    }
    .main-1, .main-2 {
        height: fit-content;
        width: 98%;
        flex-direction: column;
        padding: 0.6rem;
    }
    .left-side, .right-side {
        width: 95%;
        justify-content: center;
        padding: 1.2rem 0;
    }
    .right-side {height: fit-content}
    .form-box {width: 88%}
    .hidden {display: none;}
    .foot-content {
        display: flex;
        flex-direction: column;
        width: 98%;
        gap: 1rem;
    }
    .foot1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .foot2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .foot-links {text-decoration: none;}
}

@media (min-width: 481px) and (max-width: 1024px) {
    .nav-bar {display: none;}
    .mobile-nav-container {
        display: block;
    }
    .pc-header {
        display: block;
        font-size: 1.3rem;
    }
    .mobile-header {
        display: none;
    }
    header {
        gap: unset;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        height: auto;
    }
    .foot-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 98%;
    }
    .foot1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }
    .foot2 {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .foot-content > * {font-size: 18px;}
    .foot-links {text-decoration: none;}
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    main {
        gap: 1rem;
    }
    .main-1, .main-2 {
        width: 98%;
        padding: 1rem 1rem;
    }
    .main-2 {height: 72vh;}
    .left-side, .right-side {
        width: 95%;
        justify-content: center;
        padding: 1.2rem 0;
    }
}

@media screen and (min-width: 950px) and (max-width: 1024px) and  (min-height: 580px) and (max-height: 620px) {
    main {gap: 1rem}
    .main-1, .main-2 {
        height: 84vh;
        padding: 1rem 1rem;
    }
    .main-2 {height: 120vh;}
    .left-side, .right-side {
        padding: 1.2rem 0;
    }
    .foot-content {flex-direction: row;}
    .foot1 {flex-direction: row;}
    .foot2 {flex-direction: row;}
}
@media screen and (min-width: 1200px) and (max-width: 1300px) and (min-height: 750px) and (max-height: 850px) {
    header {gap: 28rem;}
    .main-1, .main-2 {width: 93%}
    .left-side {gap: 0.4rem;}
    .foot-content {width: 83%;}
}