@media (max-width: 540px), (min-width: 481px) and (max-width: 1024px) {
    .main-1, .main-2 {
        height: fit-content;
        width: 98%;
        flex-direction: column;
        padding: 1rem;
    }
    .left-side, .right-side {
        width: 95%;
        justify-content: center;
        padding: 1.2rem 1.2rem;
    }
    .right-side {height: fit-content}
    .form-box {width: 88%}
    .hidden-mob {display: none;}
}

@media screen and (min-width: 950px) and (max-width: 1024px) and  (min-height: 580px) and (max-height: 620px) {
    main {gap: 1rem}
    .main-1, .main-2 {
        height: 84vh;
        padding: 1rem 1rem;
    }
    .main-2 {height: 120vh;}
    .left-side, .right-side {
        padding: 1.2rem 0;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) and (min-height: 750px) and (max-height: 850px) {
    .main-1, .main-2 {width: 93%}
    .left-side {gap: 0.4rem;}
}