footer {
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 1rem;
}
footer > * {
    font-size: 1rem;
}
.foot-content {
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 10vh;
    justify-content: center;
}
.foot1, .foot2 {
    display: flex;
    flex-direction: row;
    gap: 10vh;
}
.useful-links, .legal, .socials, .contacts {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer a, footer i {
    color: var(--link);
}
footer a:hover, footer i:hover {
    color: var(--link-hover);
}
footer p {
    color: var(--link);
    cursor: pointer;
}
footer p:hover {
    color: var(--link-hover);
    cursor: pointer;
}

@media (max-width: 540px) {
    .foot-content {
        display: flex;
        flex-direction: column;
        width: 98%;
        gap: 1rem;
    }
    .foot1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .foot2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .foot-links {text-decoration: none;}
}

@media (min-width: 481px) and (max-width: 1024px) {
    .foot-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 98%;
    }
    .foot1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }
    .foot2 {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .foot-content > * {font-size: 18px;}
    .foot-links {text-decoration: none;}
}

@media screen and (min-width: 950px) and (max-width: 1024px) and  (min-height: 580px) and (max-height: 620px) {
    .foot-content {flex-direction: row;}
    .foot1 {flex-direction: row;}
    .foot2 {flex-direction: row;}
}

@media screen and (min-width: 1100px) and (max-width: 1366px) and (min-height: 750px) and (max-height: 1024px) {
    .foot-content {width: 91%;}
}