body {
    background-color: var(--bg-primaryzz);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(1rem, 42vw, 53rem);
    padding: 0 1rem;
    box-sizing: border-box;
    height: 8vh;
    width: 80%;
    align-self: center;
    box-sizing: border-box;
    z-index: 9999;
    border-radius: 0.8rem;
}
.mobile-nav-container {display: none;}
.logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.logo h1 {
    font-size: var(--fs-subheading);
    font-weight: bold;
}
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 0 1rem;
}
.nav-links-property {
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}
.nav-links-property:hover {
    cursor: pointer;
    color: var(--highlight); 
    border: 1px solid var(--highlight);
    background-color: rgba(212, 175, 55, 0.1); 
}

@media (max-width: 540px) {
    header {
        width: 100%;
        align-items: center;
    }
    .nav-bar {display: none;}
    .pc-header {display: none;}
    .pc-hidden {display: none;}
    .mobile-hidden {
        display: block;
        font-size: 1.2rem;
    }
    .mobile-nav-container {
        display: block;
    }
    header {
        gap: unset;
        justify-content: space-between;
        padding: 0.8rem 1rem;
        height: auto;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    header {
        width: 100%;
        align-items: center;
    }
    .nav-bar {display: none;}
    .mobile-nav-container {
        display: block;
    }
    .pc-hidden {display: none;}
    .mobile-hidden {
        display: block;
        font-size: 1.3rem;
    }
    .mobile-header {
        display: none;
    }
    header {
        gap: unset;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        height: auto;
    }
}

@media screen and (min-width: 950px) and (max-width: 1024px) and  (min-height: 580px) and (max-height: 620px) {
    header {width: 98%;}
}

@media screen and (min-width: 1100px) and (max-width: 1366px) and (min-height: 750px) and (max-height: 1024px) {
    header {
        gap: 44rem;
        width: 98%;
    }
    .logo h1 {font-size: var(--fs-smallheading)}
    
    .pc-hidden {display: none}
    .mobile-hidden {display: block;}
}
