<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/global/theme/palette-II.css">
    <link rel="stylesheet" href="/css/global/ui-components/font-family.css">
    <link rel="stylesheet" href="/css/global/ui-components/font-size.css">
    <link rel="stylesheet" href="/css/global/ui-components/font-family.css">
    <link rel="stylesheet" href="/css/global/ui-components/scrollbar.css">
    <link rel="stylesheet" href="/css/global/layout/main.css">
    <link rel="stylesheet" href="/css/global/layout/header.css">
    <link rel="stylesheet" href="/css/global/layout/footer.css">
    <link rel="stylesheet" href="/css/global/ui-components/forms.css">
    <link rel="stylesheet" href="/css/global/ui-components/tables.css">
    <link rel="stylesheet" href="/css/global/ui-components/popup.css">
    <link rel="stylesheet" href="/css/global/layout/g-dashboard.css">
    <link rel="stylesheet" href="/css/page-specific/dashboard-2/admin.css">

    <script src="https://kit.fontawesome.com/f75c66b724.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <header>
        <div class="logo">
            <h1 class="mobile-hidden gradient-text">AttendSmart</h1>
        </div>

        <nav class="nav-bar">
            <a href="/" class="nav-links-property">Home</a>
            <a href="/logout" class="nav-links-property">Logout</a>
            <a href="/guidebook" class="nav-links-property">GuideBook</a>
        </nav>

        <nav class="mobile-nav-container">
            <div class="nav-select outer-group">
                <select id="mobile-nav">
                    <option value="" disabled selected>-- Navigate --</option>
                    <option value="/">Home</option>
                    <option value="/logout">Logout</option>
                    <option value="/guidebook">GuideBook</option>
                </select>
            </div>
        </nav>
    </header>
    <main>
        <section class="user-dashboard">
            <div class="headings-and-status">
                <div id="headings">
                    <h3>Admin control centre</h3>
                    <h2>Manage your organization from one modern dashboard</h2>
                    <p>
                        Everything from setup to reports is grouped below for faster access and cleaner workflows.
                    </p>
                </div>
                <div id="status">
                    <p>Setup: completed</p>
                    <button>Account info</button>
                </div>
            </div>
            <div class="dashboard-navigation">
                <section class="card">
                    <h3>Attendance</h3>
                    <p>Start Session</p>
                    <p>Edit Attendance & Summary</p>
                    <p>Download Reports</p>
                </section>
                <section class="card">
                    <h3>User Management</h3>
                    <p>View Users</p>
                    <p>Manage Users</p>
                </section>
                <section class="card">
                    <h3>Academic configurations</h3>
                    <p>Subjects</p>
                    <p>Schedule</p>
                </section>
                <section class="card">
                    <h3>Communication</h3>
                    <p>Notice & System mails</p>
                    <p>Support Requests</p>
                </section>
                <section class="card">
                    <h3>Audit Log</h3>
                    <p>Login logs</p>
                    <p>Regiser logs</p>
                    <p>Support logs</p>
                    <p>Session logs</p>
                    <p>Attendance History logs</p>
                </section>
            </div>
        </section>
    </main>
    <footer>
        <div class="foot-content">
            <div class="foot1">
                <div class="useful-links">
                    <p><strong>Useful-links</strong></p>
                    <a href="#register" class="links foot-links" target="_blank">Register</a>
                    <a href="#support-forms" class="links foot-links" target="_blank">Support</a>
                    <a href="/dashboard" class="links foot-links" target="_blank">Dashboard</a>
                </div>
                <div class="legal">
                    <p><strong>Legal</strong></p>
                    <a href="#" class="links foot-links" target="_blank">Terms & conditions</a>
                    <a href="#" class="links foot-links" target="_blank">Privacy Policy</a>
                    <a href="#" class="links foot-links" target="_blank">Refund Policy</a>
                </div>
            </div>
            <div class="foot2">
                <div class="socials">
                    <p><strong>Socials</strong></p>
                    <a href="#" class="links foot-links" target="_blank">
                        <i class="fa-brands fa-instagram"></i> | @faisal_9542
                    </a>
                    <a href="#" class="links foot-links" target="_blank">
                        <i class="fa-brands fa-discord"></i> | @famaeoxiaa
                    </a>
                    <a href="#" class="links foot-links" target="_blank">
                        <i class="fa-brands fa-github"></i> | @FaisalTaslim
                    </a>
                </div>
                <div class="contacts">
                    <p><strong>Contacts</strong></p>
                    <p><i class="fa-solid fa-phone"></i> | +91 7449925137 </p>
                    <p><i class="fa-solid fa-envelope"></i> | mailto: faisaltaslim79@gmail.com</p>
                </div>
            </div>
        </div>
        <p class="copyright">&copy2026 AttendSmart. All Rights Reserved.</p>
    </footer>

</body>

</html>