<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/global/theme/dark-theme.css">
    <link rel="stylesheet" href="/css/global/ui-components/font-family.css">
    <link rel="stylesheet" href="/css/global/ui-components/scrollbar.css">
    <link rel="stylesheet" href="/css/global/layout/header.css">
    <link rel="stylesheet" href="/css/global/layout/footer.css">
    <link rel="stylesheet" href="/css/global/ui-components/forms.css">
    <link rel="stylesheet" href="/css/global/ui-components/popup.css">
    <link rel="stylesheet" href="/css/page-specific/homepage/main.css">
    <link rel="stylesheet" href="/css/page-specific/homepage/responsive.css">

    <script src="https://kit.fontawesome.com/f75c66b724.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <% if (popupMessage) { %>
        <div id="popup" class="popup <%= popupType %> show">
            <%= popupMessage %>
        </div>
        <% } %>


            <header>
                <div class="logo">
                    <h1 class="pc-header">AttendSmart - Smart Attendance Solution</h1>
                    <h1 class="mobile-header">AttendSmart</h1>
                </div>
                <nav class="nav-bar">
                    <% if (isAuthenticated) { %>
                        <a href="/dashboard" class="nav-links-property">Dashboard</a>
                        <a href="/logout" class="nav-links-property">Logout</a>
                        <a href="/guidebook" class="nav-links-property">GuideBook</a>
                        <% } else { %>
                            <p class="nav-links-property login-page-btn">Login</p>
                            <a href="/guidebook" class="nav-links-property">GuideBook</a>
                            <% } %>
                </nav>
                <nav class="mobile-nav-container">
                    <div class="form-group">
                        <select id="mobile-nav">
                            <option value="">Navigate</option>
                            <% if (isAuthenticated) { %>
                                <option value="/dashboard">Dashboard</option>
                                <option value="/logout">Logout</option>
                                <option value="/guidebook">GuideBook</option>
                                <% } else { %>
                                    <option value="#login">Login</option>
                                    <option value="/guidebook">GuideBook</option>
                                    <% } %>
                        </select>
                    </div>
                </nav>
            </header>
            <main>
                <div class="main-1">
                    <div class="left-side">
                        <% if (typeof error !=='undefined' && error) { %>
                            <div id="error-popup" class="error-popup">
                                <%= error %>
                            </div>
                            <% } %>
                                <h1>Confused, aren't you? Read this!</h1>
                                <p>
                                    A Universal web-based attendance monitoring solution that automates attendance
                                    tracking
                                    using methods like QR code, Face Recogniction and Timed-session to maintain
                                    efficiency.
                                </p>
                                <p>
                                    This is designed to work for all sectors, whether it's a school, college or a
                                    company with
                                    real-time dashboards for quick and efficient data visualization. The system operates
                                    on
                                    role-based access models.
                                </p>

                                <h3>Say Goodbye to manual registers!!</h3>
                                <h3>Minimal or no cost setup!!</h3>
                                <h3>Proxy Free!!</h3>
                    </div>
                    <div class="right-side">
                        <h1>JOIN US NOW!</h1>
                        <div class="forms" id="register">
                            <div class="form-group">
                                <select id="registration-type">
                                    <option value="">-- Select a Registration Type --</option>
                                    <option value="a-form">Admin Register</option>
                                    <option value="c-form">College Student Register</option>
                                    <option value="s-form">School Student Register</option>
                                    <option value="e-form">Employee Register</option>
                                </select>
                            </div>
                            <form action="/registration/admin" class="form-box r-forms hidden-mob" id="a-form"
                                method="POST">
                                <h2 class="form-title">Admin Registration</h2>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="a-name">Name</label>
                                        <input type="text" id="a-name" name="admin[0][name]" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="a-id">Admin ID</label>
                                        <input type="text" id="a-id" name="admin[0][adminId]" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="a-contact">Mobile Number</label>
                                        <input type="tel" id="a-contact" name="admin[0][contact]" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="a-email">Email</label>
                                    <input type="email" id="a-email" name="admin[0][email]" required>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="a-password">Set Password</label>
                                        <input type="text" class="password" id="a-password" name="admin[0][password]"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="a-confirm">Confirm Password</label>
                                        <input type="text" class="confirm-password" id="a-confirm"
                                            name="confirmPassword" required>
                                    </div>
                                </div>

                                <h3 class="form-title">Organization Details</h3>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="a-org">Name</label>
                                        <input type="text" id="a-org" name="organization" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="a-org-branch">Branch</label>
                                        <input type="text" id="a-org-branch" name="branch" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="a-org-type">Type</label>
                                        <select id="a-org-type" name="type">
                                            <option value="">Select</option>
                                            <option value="school">School</option>
                                            <option value="college">College</option>
                                            <option value="corporate">Corporate</option>
                                        </select required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="a-address">Address</label>
                                    <input type="text" id="a-address" name="address" required>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="total-emp">Total Employees</label>
                                        <input type="text" id="total-emp" name="expectedEmployees" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="total-students">Total Students</label>
                                        <input type="text" id="total-students" name="expectedStudents"
                                            placeholder="Write '0' if invalid" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" id="website" name="website" placeholder="https://example.com">
                                </div>

                                <div class="form-group terms-wrapper">
                                    <input type="checkbox" class="terms-check" id="a-terms" name="termsCheck" required>

                                    <label for="a-terms" class="terms-text">
                                        I agree to the
                                        <a href="/terms" target="_blank">Terms & Conditions</a>
                                        and
                                        <a href="/privacy" target="_blank">Privacy Policy</a>
                                    </label>
                                </div>

                                <button type="submit" class="form-submit-btn to-disable">Register Organization</button>
                            </form>
                            <form class="form-box r-forms hidden-mob" id="c-form" enctype="multipart/form-data">
                                <h2 class="form-title">College Student Registration</h2>
                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="c-name">Full Name</label>
                                        <input type="text" id="c-name" name="name" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="c-roll">Full Roll Number</label>
                                        <input type="text" id="c-roll" name="roll" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="c-dept">Department</label>
                                        <input type="text" id="c-dept" name="dept" required>
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="c-contact">Contact Number</label>
                                        <input type="tel" id="c-contact" name="contact" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="c-email">Email</label>
                                        <input type="email" id="c-email" name="email" required>
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="c-org">Organization Name</label>
                                        <input type="text" id="c-org" name="orgName" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="c-branch">Branch</label>
                                        <input type="text" id="c-branch" name="orgBranch" required>
                                    </div>
                                </div>

                                <h2 class="form-title">Subject Details</h2>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="c-subject1">Subject 1</label>
                                        <input type="text" id="c-subject1" name="subjects" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="c-subject2">Subject 2</label>
                                        <input type="text" id="c-subject2" name="subjects">
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="c-subject3">Subject 3</label>
                                        <input type="text" id="c-subject3" name="subjects">
                                    </div>
                                    <div class="form-group">
                                        <label for="c-subject4">Subject 4</label>
                                        <input type="text" id="c-subject4" name="subjects">
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="c-subject5">Subject 5</label>
                                        <input type="text" id="c-subject5" name="subjects">
                                    </div>
                                    <div class="form-group">
                                        <label for="c-subject6">Subject 6</label>
                                        <input type="text" id="c-subject6" name="subjects">
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="c-subject7">Subject 7</label>
                                        <input type="text" id="c-subject7" name="subjects">
                                    </div>
                                    <div class="form-group">
                                        <label for="c-subject8">Subject 8</label>
                                        <input type="text" id="c-subject8" name="subjects">
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="c-subject9">Subject 9</label>
                                        <input type="text" id="c-subject9" name="subjects">
                                    </div>
                                    <div class="form-group">
                                        <label for="c-subject10">Subject 10</label>
                                        <input type="text" id="c-subject10" name="subjects">
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="c-subject11">Subject 11</label>
                                        <input type="text" id="c-subject11" name="subjects">
                                    </div>
                                    <div class="form-group">
                                        <label for="c-subject12">Subject 12</label>
                                        <input type="text" id="c-subject12" name="subjects">
                                    </div>
                                </div>

                                <h2 class="form-title">Face Verification</h2>

                                <div class="form-group">
                                    <label for="faceImage">Upload Face Image</label>
                                    <input type="file" id="faceImage" name="faceImage" accept="image/*" />
                                    <img id="preview" style="display:none;" />
                                </div>

                                <h2 class="form-title">Password Setup</h2>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="c-password">Set Password</label>
                                        <input type="password" class="password" id="c-password" name="password"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="c-confirm-password">Confirm Password</label>
                                        <input type="password" class="confirm-password" id="c-confirm-password"
                                            name="confirmPassword" required>
                                    </div>
                                </div>

                                <div class="form-group terms-wrapper">
                                    <input type="checkbox" class="terms-check" id="c-terms" name="termsCheck" required>

                                    <label for="termsCheck" class="terms-text">
                                        I agree to the
                                        <a href="/terms" target="_blank">Terms & Conditions</a>
                                        and
                                        <a href="/privacy" target="_blank">Privacy Policy</a>
                                    </label>
                                </div>

                                <button type="submit" class="form-submit-btn to-disable">Register Student</button>
                            </form>
                            <form action="/api/register-school-student" class="form-box r-forms hidden-mob" id="s-form"
                                method="POST">
                                <h2 class="form-title">School Student Registration</h2>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="s-name">Full Name</label>
                                        <input type="text" id="s-name" name="userName" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="s-roll">Roll Number</label>
                                        <input type="text" id="s-roll" name="roll" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="s-standard">Division</label>
                                        <input type="text" id="s-standard" name="standard" required>
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="s-contact">Contact Number</label>
                                        <input type="tel" id="s-contact" name="contact" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="s-email">Email</label>
                                        <input type="email" id="s-email" name="email" required>
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="s-org">Organization Name</label>
                                        <input type="text" id="s-org" name="orgName" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="s-branch">Branch</label>
                                        <input type="text" id="s-branch" name="orgBranch" required>
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="s-subject1">Subject 1</label>
                                        <input type="text" id="s-subject1" name="subjectName">
                                    </div>

                                    <div class="form-group">
                                        <label for="s-subject2">Subject 2</label>
                                        <input type="text" id="s-subject2" name="subjectName">
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="s-subject3">Subject 3</label>
                                        <input type="text" id="s-subject3" name="subjectName">
                                    </div>
                                    <div class="form-group">
                                        <label for="s-subject4">Subject 4</label>
                                        <input type="text" id="s-subject4" name="subjectName">
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="s-subject5">Subject 5</label>
                                        <input type="text" id="s-subject5" name="subjectName">
                                    </div>

                                    <div class="form-group">
                                        <label for="s-subject6">Subject 6</label>
                                        <input type="text" id="s-subject6" name="subjectName">
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="s-subject7">Subject 7</label>
                                        <input type="text" id="s-subject7" name="subjectName">
                                    </div>

                                    <div class="form-group">
                                        <label for="s-subject8">Subject 8</label>
                                        <input type="text" id="s-subject8" name="subjectName">
                                    </div>


                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="s-subject9">Subject 9</label>
                                        <input type="text" id="s-subject9" name="subjectName">
                                    </div>
                                    <div class="form-group">
                                        <label for="s-subject10">Subject 10</label>
                                        <input type="text" id="s-subject10" name="subjectName">
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="s-subject11">Subject 11</label>
                                        <input type="text" id="s-subject11" name="subjectName">
                                    </div>

                                    <div class="form-group">
                                        <label for="s-subject12">Subject 12</label>
                                        <input type="text" id="s-subject12" name="subjectName">
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="s-password">Set Password</label>
                                        <input type="text" class="password" id="s-password" name="admin[0][password]"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="s-confirm">Confirm Password</label>
                                        <input type="text" class="confirm-password" id="s-confirm"
                                            name="confirmPassword" required>
                                    </div>
                                </div>

                                <div class="form-group terms-wrapper">
                                    <input type="checkbox" class="terms-check" id="a-terms" name="termsCheck" required>

                                    <label for="termsCheck" class="terms-text">
                                        I agree to the
                                        <a href="/terms" target="_blank">Terms & Conditions</a>
                                        and
                                        <a href="/privacy" target="_blank">Privacy Policy</a>
                                    </label>
                                </div>

                                <button type="submit" class="form-submit-btn to-disable">Register Student</button>
                            </form>
                            <form action="/api/register-employee" class="form-box r-forms hidden-mob" id="e-form"
                                method="POST">
                                <h2 class="form-title">Employee Registration</h2>
                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="e-name">Full Name</label>
                                        <input type="text" id="e-name" name="userName" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="e-Id">Employee ID</label>
                                        <input type="text" id="e-Id" name="employeeId" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="e-designation">Designation or Job Role</label>
                                        <input type="text" id="e-designation" name="designation"
                                            placeholder="e.g. Developer, Teacher etc" required>
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="e-dept">Department</label>
                                        <input type="text" id="e-dept" name="dept"
                                            placeholder="Use abbreviations. Eg: CSE, ECE. Leave Empty if you're an Employee in a school"
                                            required>
                                    </div>

                                    <div class="form-group">
                                        <label for="e-work-type">Works in</label>
                                        <select id="e-work-type" name="workType">
                                            <option value="">-- Select --</option>
                                            <option value="school">School</option>
                                            <option value="college">College</option>
                                            <option value="corporate">Corporate</option>
                                        </select required>
                                    </div>

                                    <div class="form-group">
                                        <label for="e-shift">Select Shift:</label>
                                        <select id="e-shift" name="shift" required>
                                            <option value="" disabled selected>Select a shift</option>
                                            <option value="day">Day</option>
                                            <option value="night">Night</option>
                                        </select required>
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="e-contact">Contact Number</label>
                                        <input type="tel" id="e-contact" name="contact" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="e-email">Email</label>
                                        <input type="email" id="e-email" name="email" required>
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="e-org">Organization Name</label>
                                        <input type="text" id="e-org" name="orgName" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="e-branch">Organization Branch</label>
                                        <input type="text" id="e-branch" name="orgBranch" required>
                                    </div>
                                </div>

                                <div class="outer-group">
                                    <div class="form-group">
                                        <label for="e-password">Set Password</label>
                                        <input type="text" class="password" id="e-password" name="admin[0][password]"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="e-confirm">Confirm Password</label>
                                        <input type="text" class="confirm-password" id="e-confirm"
                                            name="confirmPassword" required>
                                    </div>
                                </div>

                                <div class="form-group terms-wrapper">
                                    <input type="checkbox" class="terms-check" id="a-terms" name="termsCheck" required>

                                    <label for="termsCheck" class="terms-text">
                                        I agree to the
                                        <a href="/terms" target="_blank">Terms & Conditions</a>
                                        and
                                        <a href="/privacy" target="_blank">Privacy Policy</a>
                                    </label>
                                </div>

                                <button type="submit" class="form-submit-btn disable">Register Employee</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main-2">
                    <div class="left-side">
                        <h1>Need Help?</h1>
                        <p>
                            At AttendSmart, support isn’t just an afterthought — it’s built right in. Whether you’re
                            facing a
                            technical glitch, have a suggestion, or simply want to share your thoughts, we’re all ears.
                        </p>
                        <ul class="support-features">
                            <li>
                                <strong>Issue Submission Form –</strong> Report bugs, glitches, or anything that’s not
                                working
                                as expected.
                            </li>
                            <li>
                                <strong>Feedback Form –</strong> Share your ideas, suggestions, or just tell us how
                                we're doing.
                            </li>
                            <li>
                                <strong>Frequently Asked Questions (FAQs) –</strong> Get quick answers to common queries
                                and
                                how-tos.
                            </li>
                            <li>
                                <strong>Contact Details –</strong> You'll find the contact details in the footer.
                                Remember,
                                useContact Support only when you're not able to reach out through other methods.
                            </li>
                        </ul>
                        <h3>Report issues in seconds!!</h3>
                        <h3>Get instant help from our support team!!</h3>
                        <h3>Find answers in our FAQs!!</h3>
                    </div>
                    <div class="right-side">
                        <div class="forms" id="support-forms">
                            <div class="form-group">
                                <select id="support-type">
                                    <option value="" selected disabled>-- Select Support Method --</option>
                                    <option value="faq">FAQ</option>
                                    <option value="support-form">Support Form</option>
                                </select>
                            </div>
                            <section class="faq-section  s-forms hidden-mob form-box" id="faq">
                                <h2>Frequently Asked Questions</h2>

                                <details>
                                    <summary>How do I reset my password?</summary>
                                    <p class="fontSize">Go to the <a href="/login" class="links" target="_blank">Login
                                            Page</a>
                                        and click on “Forgot Password.” You’ll receive a
                                        reset link on your
                                        registered email.</p>
                                </details>

                                <details class="login-credentials-problem">
                                    <summary>I didn’t receive my login credentials. What should I do?</summary>
                                    <ul class="level-1">
                                        <li>Please check your spam, or promotions folder on your <strong>registered
                                                email</strong>.</li>
                                        <li>
                                            If you still can't find your credentials:
                                            <ul class="level-2">
                                                <li>Go to Issue Submission Form, and submit your problem.</li>
                                                <li>
                                                    Do not forget to include:
                                                    <ul class="level-3">
                                                        <li><strong>Your Organization Name</strong></li>
                                                        <li><strong>Your Roll No:</strong> For Students</li>
                                                        <li><strong>Your Employee ID:</strong> For Employees</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </details>

                                <details>
                                    <summary>I paid for the premium, but I didn't get the access to the software.
                                    </summary>
                                    <p>
                                        We're sorry for the inconvenience! Please reach out to <b
                                            style="color: var(--tip-text)">support@attendsmart.io</b>. Use your
                                        registered email
                                        to send us a mail. Add a subject matching to your problem, i.e., "Didn't
                                        receieve the
                                        premium access". Include your Organization name, your Employee ID, and a photo
                                        proof of
                                        the amount you paid for the premium. Then wait for the reply from our end!
                                    </p>
                                </details>

                                <details>
                                    <summary>Can multiple branches or departments use AttendSmart under one
                                        organization?
                                    </summary>
                                    <p>Yes! AttendSmart is designed to be universal and scalable. So multiple
                                        branches under the same organization can register and get started with
                                        AttendSmart.</p>
                                </details>

                                <details>
                                    <summary>What platforms does AttendSmart work best on?</summary>
                                    <p>
                                        AttendSmart is currently optimized for desktops and smartphones. While tablets
                                        will work
                                        just fine, we still recommend avoiding tablet use for the best experience for
                                        now. Full
                                        Tablet compatibility and certain features are still under development. We
                                        appreciate
                                        your patience and support. Stay tuned — exciting updates are on the way! Keep
                                        your eyes
                                        out on AttendSmart <a href="/log" class="links">LogBook</a> to track
                                        changes made by developers.
                                    </p>
                                </details>

                                <details>
                                    <summary>How can I report proxy or fake attendance?</summary>
                                    <p>AttendSmart is built with features to <strong>minimize proxy
                                            attendance</strong> through
                                        secure tracking methods. However, if someone bypasses the system by logging into
                                        another
                                        user's account, the responsibility for monitoring and disciplinary action lies
                                        with the
                                        respective organization.</p>

                                    <p>To help with this, AttendSmart provides advanced tools like:</p>
                                    <ul>
                                        <li><strong>Dashboard activity logs</strong> to trace user behavior
                                        </li>
                                        <li><strong>Suspend / Freeze features</strong> to temporarily restrict
                                            access or halt
                                            attendance tracking for specific users</li>
                                    </ul>

                                    <p>These features are designed to empower admins and maintain transparency
                                        in attendance
                                        records.</p>
                                </details>

                                <details>
                                    <summary>How can I delete my account?</summary>
                                    <p>
                                        If you're a student or employee, account deletion requests must be handled by
                                        your
                                        organization's admin. For security and compliance reasons, only admins have the
                                        authority to manage or remove user accounts. Please contact your respective
                                        admin for
                                        assistance.
                                    </p>
                                </details>

                                <details>
                                    <summary>Can I suggest a feature?</summary>
                                    <p>
                                        Absolutely! We love new ideas. Use the <strong>Feedback Form</strong> on the
                                        Support
                                        page
                                        to send us your suggestions.
                                    </p>
                                </details>

                                <details>
                                    <summary>Is AttendSmart free or paid?</summary>
                                    <p>
                                        AttendSmart is currently a paid software. We’re a small, independent team, and
                                        every
                                        contribution goes directly into maintaining the platform and building better
                                        features
                                        for our users. Your support helps us grow, improve, and keep things running
                                        smoothly.
                                    </p>
                                </details>

                                <details>
                                    <summary>How secure is my data?</summary>
                                    <p>
                                        Your data security is important to us. We follow industry-standard
                                        practices for encryption and access control. More security layers will be added
                                        in
                                        future updates.
                                    </p>
                                </details>
                            </section>
                            <section class="issue-form-section s-forms hidden-mob form-box" id="support-form">
                                <h2 class="form-title">Support Form</h2>
                                <p class="tip">
                                    Support is only available for registered users. If you're not a registered user,
                                    please
                                    reach out through emails
                                </p>
                                <form class="issue-form" action="/api/support" method=" POST">
                                    <div class="outer-group">
                                        <div class="form-group">
                                            <label for="org">Enter Your Organization's ID:</label>
                                            <input type="text" id="org" name="org">
                                        </div>

                                        <div class="form-group">
                                            <label for="user-id">Enter UserID:</label>
                                            <input type="text" id="user-id" name="userId"
                                                placeholder="example: adminId, employeeID, roll number">
                                        </div>
                                    </div>

                                    <div class="outer-group">
                                        <div class="form-group">
                                            <label for="branch-name">Enter UserName:</label>
                                            <input type="text" id="branch-name" name="userName">
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Enter Email:</label>
                                            <input type="text" id="email" name="email">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="supportType">Choose an option:</label>
                                        <select name="supportType" id="supportType" required>
                                            <option value="" disabled selected>-- Select an option --</option>
                                            <option value="feedback">Feedback</option>
                                            <option value="problem">Report a problem</option>
                                            <option value="question">Ask a Question</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="issue-description">Describe your thoughts:</label>
                                        <textarea id="issue-description" name="thoughts" rows="5" required></textarea>
                                    </div>

                                    <button type="submit">Submit</button>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="main-3">
                    <div class="form-overlay">
                        <form class="login-form" action="/auth/login" method="POST">
                            <button class="login-go-back continue-btn">Go Back</button>
                            <fieldset>
                                <legend>Login to Continue</legend>

                                <div class="form-group">
                                    <label for="userid">Unique ID</label>
                                    <input type="text" id="userid" name="uniqueID" placeholder="Enter your Unique ID"
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="userRole">Select Your Role:</label>
                                    <select name="userRole" id="userRole" required>
                                        <option value="" disabled selected>-- Choose your role --</option>
                                        <option value="Org">Admin</option>
                                        <option value="SchoolStudent">School Student</option>
                                        <option value="CollegeStudent">College Student</option>
                                        <option value="Employee">Employee</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password"
                                        placeholder="Enter your Password" required>
                                </div>

                                <div class="outer-group">
                                    <button type="submit" class="continue-btn">Continue</button>
                                    <button type="button" class="continue-btn">Forgot Password?</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </main>
            <footer>
                <div class="foot-content">
                    <div class="foot1">
                        <div class="useful-links">
                            <p><strong>Useful-links</strong></p>
                            <a href="#register" class="links foot-links" target="_blank">Register</a>
                            <a href="#support-forms" class="links foot-links" target="_blank">Support</a>
                            <a href="/dashboard" class="links foot-links" target="_blank">Dashboard</a>
                        </div>
                        <div class="legal">
                            <p><strong>Legal</strong></p>
                            <a href="#" class="links foot-links" target="_blank">Terms & conditions</a>
                            <a href="#" class="links foot-links" target="_blank">Privacy Policy</a>
                            <a href="#" class="links foot-links" target="_blank">Refund Policy</a>
                        </div>
                    </div>
                    <div class="foot2">
                        <div class="socials">
                            <p><strong>Socials</strong></p>
                            <a href="#" class="links foot-links" target="_blank">
                                <i class="fa-brands fa-instagram"></i> | @faisal_9542
                            </a>
                            <a href="#" class="links foot-links" target="_blank">
                                <i class="fa-brands fa-discord"></i> | @famaeoxiaa
                            </a>
                            <a href="#" class="links foot-links" target="_blank">
                                <i class="fa-brands fa-github"></i> | @FaisalTaslim
                            </a>
                        </div>
                        <div class="contacts">
                            <p><strong>Contacts</strong></p>
                            <p><i class="fa-solid fa-phone"></i> | +91 7449925137 </p>
                            <p><i class="fa-solid fa-envelope"></i> | mailto: faisaltaslim79@gmail.com</p>
                        </div>
                    </div>
                </div>
            </footer>
            <script src="/js/global/rearrange-footer.js"></script>
            <script src="/js/page-specific/homepage/functions.js"></script>
            <script src="/js/global/popup.js"></script>
            <script src="/js/global/face-api/face-api.min.js"></script>
            <script src="/js/global/face-api/face-init.js"></script>
            <script src="/js/global/face-api/register-student-face.js"></script>
</body>

</html>