<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/global/theme/dark-theme.css">
    <link rel="stylesheet" href="/css/global/ui-components/font-family.css">
    <link rel="stylesheet" href="/css/global/ui-components/scrollbar.css">
    <link rel="stylesheet" href="/css/global/layout/header.css">
    <link rel="stylesheet" href="/css/global/layout/footer.css">
    <link rel="stylesheet" href="/css/global/ui-components/forms.css">
    <link rel="stylesheet" href="/css/global/ui-componenets/popup.css">
    <link rel="stylesheet" href="/css/page-specific/homepage/main.css">
    <link rel="stylesheet" href="/css/page-specific/homepage/responsive.css">

    <script src="https://kit.fontawesome.com/f75c66b724.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="http://localhost:35729/livereload.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <h1 class="pc-header">AttendSmart - Smart Attendance Solution</h1>
            <h1 class="mobile-header">AttendSmart</h1>
        </div>
        <nav class="nav-bar">
            <% if (isAuthenticated) { %>
                <a href="/dashboard" class="nav-links-property">Dashboard</a>
                <a href="/logout" class="nav-links-property">Logout</a>
                <a href="/guidebook" class="nav-links-property">GuideBook</a>
                <% } else { %>
                    <p class="nav-links-property login-page-btn">Login</p>
                    <a href="/guidebook" class="nav-links-property">GuideBook</a>
                    <% } %>
        </nav>
        <nav class="mobile-nav-container">
            <div class="form-group">
                <select id="mobile-nav">
                    <option value="">Navigate</option>
                    <% if (isAuthenticated) { %>
                        <option value="/dashboard">Dashboard</option>
                        <option value="/logout">Logout</option>
                        <option value="/guidebook">GuideBook</option>
                        <% } else { %>
                            <option value="#login">Login</option>
                            <option value="/guidebook">GuideBook</option>
                            <% } %>
                </select>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-1">
            <div class="left-side">
                <% if (typeof error !=='undefined' && error) { %>
                    <div id="error-popup" class="error-popup">
                        <%= error %>
                    </div>
                    <% } %>
                        <h1>Confused, aren't you? Read this!</h1>
                        <p>
                            A Universal web-based attendance monitoring solution that automates attendance tracking
                            using methods like QR code, Face Recogniction and Timed-session to maintain efficiency.
                        </p>
                        <p>
                            This is designed to work for all sectors, whether it's a school, college or a company with
                            real-time dashboards for quick and efficient data visualization. The system operates on
                            role-based access models.
                        </p>

                        <h3>Say Goodbye to manual registers!!</h3>
                        <h3>Minimal or no cost setup!!</h3>
                        <h3>Proxy Free!!</h3>
            </div>
            <div class="right-side">
                <h1>JOIN US NOW!</h1>
                <div class="forms" id="register">
                    <div class="form-group">
                        <select>
                            <option value="">-- Select a Registration Type --</option>
                            <option value="admin-form-box">Admin Register</option>
                            <option value="college-std-form-box">College Student Register</option>
                            <option value="school-std-form-box">School Student Register</option>
                            <option value="employee-form-box">Employee Register</option>
                        </select>
                    </div>
                    <form action="/api/org/create-org" class="admin-form-wrapper form-box hidden" id="admin-form"
                        method="POST">
                        <h2 class="form-title">Admin Registration</h2>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="adminName">Name</label>
                                <input type="text" id="adminName" name="admin[0][adminName]">
                            </div>
                            <div class="form-group">
                                <label for="adminId">Admin ID</label>
                                <input type="text" id="adminId" name="admin[0][adminId]">
                            </div>
                            <div class="form-group">
                                <label for="adminContact">Mobile Number</label>
                                <input type="tel" id="adminContact" name="admin[0][adminContact]" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="adminEmail">Email</label>
                            <input type="email" id="adminEmail" name="admin[0][adminEmail]">
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="adminPassword">Set Password</label>
                                <input type="text" id="adminPassword" name="admin[0][adminPassword]">
                            </div>
                            <div class="form-group">
                                <label for="adminConfirmPassword">Confirm Password</label>
                                <input type="text" id="adminConfirmPassword" name="confirmPassword">
                            </div>
                        </div>

                        <h3 class="form-title">Organization Details</h3>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="orgName">Name</label>
                                <input type="text" id="orgName" name="orgName">
                            </div>
                            <div class="form-group">
                                <label for="orgBranch">Branch</label>
                                <input type="text" id="orgBranch" name="orgBranch">
                            </div>
                            <div class="form-group">
                                <label for="orgType">Type</label>
                                <select id="orgType" name="orgType">
                                    <option value="">Select</option>
                                    <option value="school">School</option>
                                    <option value="college">College</option>
                                    <option value="corporate">Corporate</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="orgAddress">Address</label>
                            <input type="text" id="orgAddress" name="address">
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="orgContact">Contact</label>
                                <input type="tel" id="orgContact" name="orgContact">
                            </div>
                            <div class="form-group">
                                <label for="orgEmail">Email</label>
                                <input type="email" id="orgEmail" name="orgEmail">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="totalEmployee">Total Employees</label>
                                <input type="text" id="totalEmployee" name="expectedEmployees">
                            </div>
                            <div class="form-group">
                                <label for="totalStudents">Total Students</label>
                                <input type="text" id="totalStudents" name="expectedStudents"
                                    placeholder="Write '0' if invalid">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="orgWebsite">Website</label>
                            <input type="url" id="orgWebsite" name="orgWebsite" placeholder="https://example.com">
                        </div>

                        <div class="form-group" id="register-terms"
                            style="flex-direction: row; align-items: center; gap: 0.5rem; margin: 15px 0;">
                            <input type="checkbox" id="termsCheck" name="termsCheck" required>
                            <label for="termsCheck" class="termsCheck"
                                style="font-size: 0.95rem; color: var(--text-secondary);">
                                I agree to the <a href="/terms" target="_blank" style="color:var(--link)">Terms &
                                    Conditions</a> and
                                <a href="/privacy" target="_blank" style="color:var(--link)">Privacy
                                    Policy</a>
                            </label>
                        </div>

                        <button type="submit" class="submit-btn">Register Organization</button>
                    </form>
                    <form action="/api/register-college-student" class="student-form-wrapper form-box hidden"
                        id="college-student-form" method="POST">
                        <h2 class="form-title">College Student Registration</h2>
                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeUserName">Full Name</label>
                                <input type="text" id="collegeUserName" name="userName">
                            </div>

                            <div class="form-group">
                                <label for="collegeRoll">Full Roll Number</label>
                                <input type="text" id="collegeRoll" name="roll">
                            </div>

                            <div class="form-group">
                                <label for="collegeDept">Department</label>
                                <input type="text" id="collegeDept" name="dept">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeContact">Contact Number</label>
                                <input type="tel" id="collegeContact" name="contact">
                            </div>

                            <div class="form-group">
                                <label for="collegeEmail">Email</label>
                                <input type="email" id="collegeEmail" name="email">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeOrg">Organization Name</label>
                                <input type="text" id="collegeOrg" name="orgName">
                            </div>

                            <div class="form-group">
                                <label for="collegeBranch">Branch</label>
                                <input type="text" id="collegeBranch" name="orgBranch">
                            </div>
                        </div>

                        <h2 class="form-title">Subject Details</h2>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeSubject1">Subject 1</label>
                                <input type="text" id="collegeSubject1" name="subjectName">
                            </div>
                            <div class="form-group">
                                <label for="collegeSubject2">Subject 2</label>
                                <input type="text" id="collegeSubject2" name="subjectName">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeSubject3">Subject 3</label>
                                <input type="text" id="collegeSubject3" name="subjectName">
                            </div>
                            <div class="form-group">
                                <label for="collegeSubject4">Subject 4</label>
                                <input type="text" id="collegeSubject4" name="subjectName">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeSubject5">Subject 5</label>
                                <input type="text" id="collegeSubject5" name="subjectName">
                            </div>
                            <div class="form-group">
                                <label for="collegeSubject6">Subject 6</label>
                                <input type="text" id="collegeSubject6" name="subjectName">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeSubject7">Subject 7</label>
                                <input type="text" id="collegeSubject7" name="subjectName">
                            </div>
                            <div class="form-group">
                                <label for="collegeSubject8">Subject 8</label>
                                <input type="text" id="collegeSubject8" name="subjectName">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeSubject9">Subject 9</label>
                                <input type="text" id="collegeSubject9" name="subjectName">
                            </div>
                            <div class="form-group">
                                <label for="collegeSubject10">Subject 10</label>
                                <input type="text" id="collegeSubject10" name="subjectName">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="collegeSubject11">Subject 11</label>
                                <input type="text" id="collegeSubject11" name="subjectName">
                            </div>
                            <div class="form-group">
                                <label for="collegeSubject12">Subject 12</label>
                                <input type="text" id="collegeSubject12" name="subjectName">
                            </div>
                        </div>

                        <h2 class="form-title">Password Setup</h2>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="Password3">Set Password</label>
                                <input type="text" id="Password3" name="password">
                            </div>
                            <div class="form-group">
                                <label for="collegeConfirmPassword">Confirm Password</label>
                                <input type="text" id="collegeConfirmPassword" name="confirmPassword" required>
                            </div>
                        </div>

                        <div class="form-group" id="register-terms"
                            style="flex-direction: row; align-items: center; gap: 0.5rem; margin: 15px 0;">
                            <input type="checkbox" id="termsCheck" name="termsCheck" required>
                            <label for="termsCheck" style="font-size: 0.95rem; color: var(--text-secondary);">
                                I agree to the
                                <a href="/terms" target="_blank" style="color:var(--link)">Terms &
                                    Conditions</a>
                                and
                                <a href="/privacy" target="_blank" style="color:var(--link)">Privacy
                                    Policy</a>
                            </label>
                        </div>

                        <button type="submit" class="submit-btn">Register Student</button>
                    </form>
                    <form action="/api/register-school-student" class="student-form-wrapper form-box hidden"
                        id="school-student-form" method="POST">
                        <h2 class="form-title">School Student Registration</h2>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="schoolUserName">Full Name</label>
                                <input type="text" id="schoolUserName" name="userName">
                            </div>

                            <div class="form-group">
                                <label for="schoolRoll">Roll Number</label>
                                <input type="text" id="schoolRoll" name="roll">
                            </div>

                            <div class="form-group">
                                <label for="schoolDivision">Division</label>
                                <input type="text" id="schoolDivision" name="standard">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="schoolContact">Contact Number</label>
                                <input type="tel" id="schoolContact" name="contact">
                            </div>

                            <div class="form-group">
                                <label for="schoolEmail">Email</label>
                                <input type="email" id="schoolEmail" name="email">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="schoolOrg">Organization Name</label>
                                <input type="text" id="schoolOrg" name="orgName">
                            </div>

                            <div class="form-group">
                                <label for="schoolBranch">Branch</label>
                                <input type="text" id="schoolBranch" name="orgBranch">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="subject1">Subject 1</label>
                                <input type="text" id="subject1" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="subject2">Subject 2</label>
                                <input type="text" id="subject2" name="subjectName">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="subject3">Subject 3</label>
                                <input type="text" id="subject3" name="subjectName">
                            </div>
                            <div class="form-group">
                                <label for="subject4">Subject 4</label>
                                <input type="text" id="subject4" name="subjectName">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="subject5">Subject 5</label>
                                <input type="text" id="subject5" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="subject6">Subject 6</label>
                                <input type="text" id="subject6" name="subjectName">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="subject7">Subject 7</label>
                                <input type="text" id="subject7" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="subject8">Subject 8</label>
                                <input type="text" id="subject8" name="subjectName">
                            </div>


                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="subject9">Subject 9</label>
                                <input type="text" id="subject9" name="subjectName">
                            </div>
                            <div class="form-group">
                                <label for="subject10">Subject 10</label>
                                <input type="text" id="subject10" name="subjectName">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="subject11">Subject 11</label>
                                <input type="text" id="subject11" name="subjectName">
                            </div>

                            <div class="form-group">
                                <label for="subject12">Subject 12</label>
                                <input type="text" id="subject12" name="subjectName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Password2">Set Password</label>
                            <input type="text" id="Password2" name="password" required>
                        </div>

                        <div class="form-group" id="register-terms"
                            style="flex-direction: row; align-items: center; gap: 0.5rem; margin: 15px 0px;">
                            <input type="checkbox" id="termsCheck" name="termsCheck" required>
                            <label for="termsCheck" style="font-size: 0.95rem; color: var(--text-secondary);">
                                I agree to the
                                <a href="/terms" target="_blank" style="color:var(--link)">Terms &
                                    Conditions</a>
                                and
                                <a href="/privacy" target="_blank" style="color:var(--link)">Privacy
                                    Policy</a>
                            </label>
                        </div>

                        <button type="submit" class="submit-btn">Register Student</button>
                    </form>
                    <form action="/api/register-employee" class="employee-form-wrapper form-box hidden" id="employee-form"
                        method="POST">
                        <h2 class="form-title">Employee Registration</h2>

                        <input type="hidden" name="role" value="employee">

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="empName">Full Name</label>
                                <input type="text" id="empName" name="userName">
                            </div>

                            <div class="form-group">
                                <label for="employeeId">Employee ID</label>
                                <input type="text" id="employeeId" name="employeeId">
                            </div>

                            <div class="form-group">
                                <label for="designation">Designation or Job Role</label>
                                <input type="text" id="designation" name="designation"
                                    placeholder="e.g. Developer, Teacher etc">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="empDept">Department</label>
                                <input type="text" id="empDept" name="dept"
                                    placeholder="Use abbreviations. Eg: CSE, ECE. Leave Empty if you're an Employee in a school">
                            </div>

                            <div class="form-group">
                                <label for="workType">Works in</label>
                                <select id="workType" name="workType">
                                    <option value="">-- Select --</option>
                                    <option value="school_college">School / College</option>
                                    <option value="corporate">Corporate</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="shift">Select Shift:</label>
                                <select id="shift" name="shift" required>
                                    <option value="" disabled selected>Select a shift</option>
                                    <option value="day">Day Shift</option>
                                    <option value="night">Night Shift</option>
                                </select>
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="empContact">Contact Number</label>
                                <input type="tel" id="empContact" name="contact">
                            </div>

                            <div class="form-group">
                                <label for="empEmail">Email</label>
                                <input type="email" id="empEmail" name="email">
                            </div>
                        </div>

                        <div class="outer-group">
                            <div class="form-group">
                                <label for="empOrgName">Organization Name</label>
                                <input type="text" id="empOrgName" name="orgName">
                            </div>

                            <div class="form-group">
                                <label for="empOrgBranch">Organization Branch</label>
                                <input type="text" id="empOrgBranch" name="orgBranch">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Password4">Set Password</label>
                            <input type="password" id="Password4" name="password">
                        </div>

                        <div class="form-group" id="register-terms"
                            style="flex-direction: row; align-items: center; gap: 0.5rem; margin: 15px 0px;">
                            <input type="checkbox" id="termsCheck" name="termsCheck">
                            <label for="termsCheck" style="font-size: 0.95rem; color: var(--text-secondary);">
                                I agree to the
                                <a href="/terms" target="_blank" style="color:var(--link)">Terms &
                                    Conditions</a>
                                and
                                <a href="/privacy" target="_blank" style="color:var(--link)">Privacy
                                    Policy</a>
                            </label>
                        </div>

                        <button type="submit" class="submit-btn">Register Employee</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="main-2">
            <div class="left-side">
                <h1>Need Help?</h1>
                <p>
                    At AttendSmart, support isn’t just an afterthought — it’s built right in. Whether you’re facing a
                    technical glitch, have a suggestion, or simply want to share your thoughts, we’re all ears.
                </p>
                <ul class="support-features">
                    <li>
                        <strong>Issue Submission Form –</strong> Report bugs, glitches, or anything that’s not working
                        as expected.
                    </li>
                    <li>
                        <strong>Feedback Form –</strong> Share your ideas, suggestions, or just tell us how we're doing.
                    </li>
                    <li>
                        <strong>Frequently Asked Questions (FAQs) –</strong> Get quick answers to common queries and
                        how-tos.
                    </li>
                    <li>
                        <strong>Contact Details –</strong> You'll find the contact details in the footer. Remember,
                        useContact Support only when you're not able to reach out through other methods.
                    </li>
                </ul>
                <h3>Report issues in seconds!!</h3>
                <h3>Get instant help from our support team!!</h3>
                <h3>Find answers in our FAQs!!</h3>
            </div>
            <div class="right-side">
                <div class="forms" id="support-forms">
                    <div class="form-group">
                        <select>
                            <option value="" selected disabled>-- Select Support Method --</option>
                            <option value="faq">FAQ</option>
                            <option value="support-form">Support Form</option>
                        </select>
                    </div>
                    <section class="faq-section hidden form-box" id="faq-section">
                        <h2>Frequently Asked Questions</h2>

                        <details>
                            <summary>How do I reset my password?</summary>
                            <p class="fontSize">Go to the <a href="/login" class="links" target="_blank">Login Page</a>
                                and click on “Forgot Password.” You’ll receive a
                                reset link on your
                                registered email.</p>
                        </details>

                        <details class="login-credentials-problem">
                            <summary>I didn’t receive my login credentials. What should I do?</summary>
                            <ul class="level-1">
                                <li>Please check your spam, or promotions folder on your <strong>registered
                                        email</strong>.</li>
                                <li>
                                    If you still can't find your credentials:
                                    <ul class="level-2">
                                        <li>Go to Issue Submission Form, and submit your problem.</li>
                                        <li>
                                            Do not forget to include:
                                            <ul class="level-3">
                                                <li><strong>Your Organization Name</strong></li>
                                                <li><strong>Your Roll No:</strong> For Students</li>
                                                <li><strong>Your Employee ID:</strong> For Employees</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </details>

                        <details>
                            <summary>I paid for the premium, but I didn't get the access to the software.</summary>
                            <p>
                                We're sorry for the inconvenience! Please reach out to <b
                                    style="color: var(--tip-text)">support@attendsmart.io</b>. Use your registered email
                                to send us a mail. Add a subject matching to your problem, i.e., "Didn't receieve the
                                premium access". Include your Organization name, your Employee ID, and a photo proof of
                                the amount you paid for the premium. Then wait for the reply from our end!
                            </p>
                        </details>

                        <details>
                            <summary>Can multiple branches or departments use AttendSmart under one organization?
                            </summary>
                            <p>Yes! AttendSmart is designed to be universal and scalable. So multiple
                                branches under the same organization can register and get started with AttendSmart.</p>
                        </details>

                        <details>
                            <summary>What platforms does AttendSmart work best on?</summary>
                            <p>
                                AttendSmart is currently optimized for desktops and smartphones. While tablets will work
                                just fine, we still recommend avoiding tablet use for the best experience for now. Full
                                Tablet compatibility and certain features are still under development. We appreciate
                                your patience and support. Stay tuned — exciting updates are on the way! Keep your eyes
                                out on AttendSmart <a href="/log" class="links">LogBook</a> to track
                                changes made by developers.
                            </p>
                        </details>

                        <details>
                            <summary>How can I report proxy or fake attendance?</summary>
                            <p>AttendSmart is built with features to <strong>minimize proxy
                                    attendance</strong> through
                                secure tracking methods. However, if someone bypasses the system by logging into another
                                user's account, the responsibility for monitoring and disciplinary action lies with the
                                respective organization.</p>

                            <p>To help with this, AttendSmart provides advanced tools like:</p>
                            <ul>
                                <li><strong>Dashboard activity logs</strong> to trace user behavior
                                </li>
                                <li><strong>Suspend / Freeze features</strong> to temporarily restrict
                                    access or halt
                                    attendance tracking for specific users</li>
                            </ul>

                            <p>These features are designed to empower admins and maintain transparency
                                in attendance
                                records.</p>
                        </details>

                        <details>
                            <summary>How can I delete my account?</summary>
                            <p>
                                If you're a student or employee, account deletion requests must be handled by your
                                organization's admin. For security and compliance reasons, only admins have the
                                authority to manage or remove user accounts. Please contact your respective admin for
                                assistance.
                            </p>
                        </details>

                        <details>
                            <summary>Can I suggest a feature?</summary>
                            <p>
                                Absolutely! We love new ideas. Use the <strong>Feedback Form</strong> on the Support
                                page
                                to send us your suggestions.
                            </p>
                        </details>

                        <details>
                            <summary>Is AttendSmart free or paid?</summary>
                            <p>
                                AttendSmart is currently a paid software. We’re a small, independent team, and every
                                contribution goes directly into maintaining the platform and building better features
                                for our users. Your support helps us grow, improve, and keep things running smoothly.
                            </p>
                        </details>

                        <details>
                            <summary>How secure is my data?</summary>
                            <p>
                                Your data security is important to us. We follow industry-standard
                                practices for encryption and access control. More security layers will be added in
                                future updates.
                            </p>
                        </details>
                    </section>
                    <section class="issue-form-section hidden form-box" id="issue-form-section">
                        <h2 class="form-title">Support Form</h2>
                        <p>
                            Support is only available for registered users. If you're not a registered user, please
                            reach out through emails
                        </p>
                        <form class="issue-form" action="/api/support" method=" POST">
                            <div class="outer-group">
                                <div class="form-group">
                                    <label for="org">Enter Your Organization's ID:</label>
                                    <input type="text" id="org" name="org">
                                </div>

                                <div class="form-group">
                                    <label for="user-id">Enter UserID:</label>
                                    <input type="text" id="user-id" name="userId"
                                        placeholder="example: adminId, employeeID, roll number">
                                </div>
                            </div>

                            <div class="outer-group">
                                <div class="form-group">
                                    <label for="branch-name">Enter UserName:</label>
                                    <input type="text" id="branch-name" name="userName">
                                </div>

                                <div class="form-group">
                                    <label for="email">Enter Email:</label>
                                    <input type="text" id="email" name="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="supportType">Choose an option:</label>
                                <select name="supportType" id="supportType" required>
                                    <option value="" disabled selected>-- Select an option --</option>
                                    <option value="feedback">Feedback</option>
                                    <option value="problem">Report a problem</option>
                                    <option value="question">Ask a Question</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="issue-description">Describe your thoughts:</label>
                                <textarea id="issue-description" name="thoughts" rows="5" required></textarea>
                            </div>

                            <button type="submit">Submit</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <div class="main-3">
            <div class="form-overlay">
                <form class="login-form" action="/auth/login" method="POST">
                    <button class="login-go-back continue-btn">Go Back</button>
                    <fieldset>
                        <legend>Login to Continue</legend>

                        <div class="form-group">
                            <label for="userid">Unique ID</label>
                            <input type="text" id="userid" name="uniqueID" placeholder="Enter your Unique ID" required>
                        </div>

                        <div class="form-group">
                            <label for="userRole">Select Your Role:</label>
                            <select name="userRole" id="userRole" required>
                                <option value="" disabled selected>-- Choose your role --</option>
                                <option value="Org">Admin</option>
                                <option value="SchoolStudent">School Student</option>
                                <option value="CollegeStudent">College Student</option>
                                <option value="Employee">Employee</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="Enter your Password"
                                required>
                        </div>

                        <div class="outer-group">
                            <button type="submit" class="continue-btn">Continue</button>
                            <button type="button" class="continue-btn">Forgot Password?</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="foot-content">
            <div class="foot1">
                <div class="useful-links">
                    <p><strong>Useful-links</strong></p>
                    <a href="#register" class="links foot-links" target="_blank">Register</a>
                    <a href="#support-forms" class="links foot-links" target="_blank">Support</a>
                    <a href="/dashboard" class="links foot-links" target="_blank">Dashboard</a>
                </div>
                <div class="legal">
                    <p><strong>Legal</strong></p>
                    <a href="#" class="links foot-links" target="_blank">Terms & conditions</a>
                    <a href="#" class="links foot-links" target="_blank">Privacy Policy</a>
                    <a href="#" class="links foot-links" target="_blank">Refund Policy</a>
                </div>
            </div>
            <div class="foot2">
                <div class="socials">
                    <p><strong>Socials</strong></p>
                    <a href="#" class="links foot-links" target="_blank">
                        <i class="fa-brands fa-instagram"></i> | @faisal_9542
                    </a>
                    <a href="#" class="links foot-links" target="_blank">
                        <i class="fa-brands fa-discord"></i> | @famaeoxiaa
                    </a>
                    <a href="#" class="links foot-links" target="_blank">
                        <i class="fa-brands fa-github"></i> | @FaisalTaslim
                    </a>
                </div>
                <div class="contacts">
                    <p><strong>Contacts</strong></p>
                    <p><i class="fa-solid fa-phone"></i> | +91 7449925137 </p>
                    <p><i class="fa-solid fa-envelope"></i> | mailto: faisaltaslim79@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/global/rearrange-footer.js"></script>
    <script src="/js/page-specific/homepage/toggle-login-form.js"></script>
    <script src="/js/global/remove-popup.js"></script>
</body>
</html>