<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/global/global-layout.css">
    <link rel="stylesheet" href="/css/page-specific/homepage.css">
    <link rel="stylesheet" href="/css/global/dark-theme.css">
    <link rel="stylesheet" href="/css/global/scrollbar.css">

    <script src="https://kit.fontawesome.com/f75c66b724.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Underdog&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rock+Salt&family=WDXL+Lubrifont+TC&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav id="navbar" class="">
            <div class="nav-group1">
                <div class="logo">
                    <p class="font-1"><strong>AttendSmart</strong></p>
                </div>
            </div>
            <div class="nav-group2">
                <div class="nav-links">
                    <a href="/support" class="nav-links-property hide">Support</a>
                    <a href="/log" class="nav-links-property hide">Logs</a>
                    <a href="/register" class="nav-links-property hide" id="register">Register</a>
                    <a href="/login" class="nav-links-property hide">Login</a>
                    <p class="nav-links-property"><i class="fa-solid fa-moon"></i></p>
                    <p class="nav-links-property" id="sun"><i class="fa-regular fa-sun"></i></p>
                    <p class="nav-links-property" id="menu-toggle"><i class="fa-solid fa-bars"></i></p>
                </div>
            </div>

            <div class="slide-menu">
                <div class="nav-close-icon">
                    <p class="sidemenu-heading"><strong>AttendSmart</strong></p>
                    <p class="nav-links-property"><i class="fa-solid fa-xmark" id="close-toggle"></i></p>
                </div>
                <div class="dash-head">
                    <h2><i class="fa-solid fa-route"></i> | Other pages</h2>
                    <div class="dash-head-nav">
                        <a href="/support">Support</a>
                        <a href="/log">Logs</a>
                        <a href="/register" id="register">Register</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero-bg">
            <div class="bg-content">
                <h1>Welcome to AttendSmart</h1>
                <p>
                    Attendance? Ugh, we know. Whether you're a student trying not to forget another lecture, or a
                    teacher tired of roll calls and registers — we’ve got you?
                </p>
                <p>
                    Smart, simple, and stress-free — just the way it should be. Check your records, track your days, and
                    stay in sync. No mess. No chaos. Just clean, smart attendance — right at your fingertips.
                </p>
                <p>
                    Oh, and yeah — no paperwork ever again. 😎
                </p>
                <p><strong>Stay sharp. Stay present. Stay AttendSmart.</strong></p>
                <div class="links-shortcut">
                    <a href="/login" class="nav-links-property">login</a>
                    <a href="/register" class="nav-links-property">Register</a>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="about-heading">
                <h1>Know more about AttendSmart!</h1>
            </div>
            <div class="about-details">
                <div class="about-box">
                    <h1><i class="fa-solid fa-1"></i> | What is AttendSmart?</h1>
                    <p class="fontSize">
                        A Universal Smart Attendance Tracking System is a web-based attendance monitoring solution
                        designed for multiple sectors, including schools, colleges, and companies.The system automates
                        attendance tracking using multiple methods like location-based tracking, wifi-ssid tracking, and
                        QR-code scan to maintain efficiency.
                    </p>
                    <section class="note fontSize">
                        <h3><strong>Note: Read carefully!</strong></h3>
                        <p>
                            AttendSmart is currently optimized for desktops and smartphones. While some smaller tablets
                            may work, we recommend avoiding tablet use for the best experience. Tablet compatibility and
                            certain features are still under development. We appreciate your patience and support. Stay
                            tuned — exciting updates are on the way!
                        </p>
                    </section>
                </div>
                <div class="about-box">
                    <h1><i class="fa-solid fa-2"></i> | Features of AttendSmart</h1>
                    <ol>
                        <li>
                            This system works for <b>all sectors</b>, whether it is a school, a college, or a company.
                        </li>
                        <li>It has a <b>location-based and Wi-Fi</b> tracking system for monitoring purposes.</li>
                        <li>It provides <b>real-time dashboards</b> for quick and efficient data visualization.</li>
                        <li>This system operates on a <b>role-based access</b> model.</li>
                    </ol>
                    <h3><i class="fa-solid fa-3"></i> | Why AttendSmart?</h3>
                    <ol>
                        <li>No more manual registers – go touchless, go smart.</li>
                        <li>No need for any external hardwares.</li>
                        <li>Say Bye to proxy!</li>
                        <li>Real-time updates, zero confusion.</li>
                        <li>Access your data anytime, anywhere. No more, "Sir, how much shortage?"</li>
                    </ol>
                </div>
                <div class="about-box">
                    <h1><i class="fa-solid fa-4"></i> | About different sections</h1>
                    <details>
                        <summary>AttendSmart Log</summary>
                        <div class="log-details">
                            <p class="fontSize">
                                <b>AttendSmart Logging</b> feature helps you keep track of the changes made by the
                                developers into the system. Whether -- there's a new feature added, a feature removed
                                bug fixes, or update in terms & conditons, everything will be listed down in <a href="#"
                                    class="links">logging page</a>
                            </p>
                        </div>
                    </details>
                    <details class="dashboard">
                        <summary>Dashboard</summary>
                        <p class="fontSize">
                            AttendSmart provides users with three dashboard based on the major roles they
                            hold inthe organization
                        </p>
                        <div class="dashboard-writing-content">
                            <h3><strong>Admin Dashboard</strong></h3>
                            <ol>
                                <li>It helps to manage AttendSmart on an organizational level.</li>
                                <li>Admin can <b>manage users</b> — add, remove, or archive users.</li>
                                <li>
                                    Admin can <b>manage roles</b> — create, delete, and add roles to users. Roles make
                                    it easier to search users based on their job description, and even manage them.
                                </li>
                                <li>
                                    It allows the admin to view <b>leave requests</b> of users, and accept or reject the
                                    requests.
                                </li>
                                <li>
                                    It allows the admin to <b>view attendance records</b>, graphs, and download them in
                                    a .pdf format.
                                </li>
                            </ol>
                            <h3><strong>Employee Dashboard</strong></h3>
                            <ol>
                                <li>It helps to manage AttendSmart on an employee level.</li>
                                <li>
                                    It allows the employees like teachers to <b>view attendance records</b>, graphs, and
                                    download them in a .pdf format.
                                </li>
                                <li>All staff can <b>mark their own attendance</b> from this dashboard.</li>
                                <li>Teachers can accept or reject a student's <b>leave requests.</b></li>
                            </ol>
                            <h3><strong>Student Dashboard</strong></h3>
                            <ol>
                                <li>Students can <b>mark their attendance</b> through the Dashboard.</li>
                                <li>
                                    They can <b>view their attendance statistics</b>, and even download it in a .pdf
                                    format.
                                </li>
                            </ol>
                        </div>
                    </details>
                </div>
                <div class="about-box">
                    <h1><i class="fa-solid fa-5"></i> | Support</h1>
                    <p class="fontSize">
                        AttendSmart provides comprehensive support to enhance user experience. The <b>FAQ section</b>
                        addresses common questions, allowing users to find quick solutions independently. For direct
                        assistance, users can reach out through the <b>Contact Us</b> page, which includes email support
                        and links to official social media channels.
                    </p>
                    <p class="fontSize">
                        Users encountering issues can report them via the <b>Report an Issue</b> feature, ensuring a
                        streamlined way to address technical concerns. Additionally, the <b>Feedback Form</b> allows
                        users to share suggestions and insights to help improve the system. In the future, a live chat
                        feature may be integrated for real-time support.
                    </p>
                    <p class="fontSize">
                        This website is maintained by <b>Faisal Taslim</b> (AttendSmart's lead developer). If you'd like
                        to provide
                        feedback, please contact me on <a
                            href="https://www.instagram.com/_faisal_9542?igsh=aDZrdDllbnNjeTNu"
                            class="insta-link links">Instagram</a>, or <b class="discord-username links">@famaeoxiaa
                            (discord)</b>. You
                        can also contact me
                        through
                        the feedback form.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="foot-content">
            <div class="foot1">
                <div class="useful-links">
                    <p><strong>Useful-links</strong></p>
                    <a href="/register" class="links foot-links" target="_blank">Register</a>
                    <a href="/support" class="links foot-links" target="_blank">Support</a>
                    <a href="/log" class="links foot-links" target="_blank">LogBook</a>
                    <a href="/dashboard" class="links foot-links" target="_blank">Dashboard</a>
                </div>
                <div class="legal">
                    <p><strong>Legal</strong></p>
                    <a href="/term" class="links foot-links" target="_blank">Terms & conditions</a>
                    <a href="/policy" class="links foot-links" target="_blank">Privacy Policy</a>
                    <a href="/refund" class="links foot-links" target="_blank">Refund Policy</a>
                </div>
            </div>
            <div class="foot2">
                <div class="socials">
                    <p><strong>Socials</strong></p>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-instagram"></i> |
                        @faisal_9542</a>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-discord"></i> |
                        @famaeoxiaa</a>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-github"></i> |
                        @FaisalTaslim</a>
                </div>
                <div class="contacts">
                    <p><strong>Contacts</strong></p>
                    <p><i class="fa-solid fa-phone"></i> | +91 7449925137 </p>
                    <p><i class="fa-solid fa-envelope"></i> | mailto: support@attendsmart.io</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/global/sideNav.js"></script>
    <script src="js/global/update-footerLayout-for-tablets.js"></script>
</body>

</html>