<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee QR Code</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        img {
            width: 80vh;
            height: 80vh;
            transition: opacity 0.5s ease;
        }
    </style>
</head>

<body>
    <h1>Scan to Mark Attendance</h1>
    <img src="<%= qrImage %>" alt="Employee QR Code">

    <script>
        setTimeout(() => {
            document.body.style.transition = 'opacity 0.5s ease';
            document.body.style.opacity = 0;

            setTimeout(() => {
                location.reload();
            }, 500);
        }, 15000);
    </script>

</body>

</html>