.other-contents {width: 79%;}
.view-logs {
    width: 98%;
    height: 100%;
    overflow: auto;
    display: none;
    flex-direction: column;
    padding: 0px 0.3rem;
    gap: 15px;
}
.audit-log-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    border-bottom: 2px solid var(--border-color);
}
.audit-log-heading > * {
    align-items: center;
}
.style-logs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary);
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 5px;
}
.style-logs > h3 {color: var(--accent)}
#logFilter {
    padding: 3px 12px; 
    border-radius: 6px; 
    border: 1px solid #ccc;
}