.other-contents {width: 79%;}
.left-side, .right-side{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.generate-employee-qr {
    height: 100%;
    width: 100%;
    display: flex;           
    justify-content: center; 
    align-items: center;    
}

.qr {
    height: 50%;
    width: 50%;
}
/*
    List of Media Queries
    ----------------------
    1. For smartphones.
    2. Surface Duo
    3. Bigger NestHub
*/

@media screen and (max-width: 480px) {
    .divide-buttons {flex-direction: column;}
    .left-side, .right-side {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .divide-buttons {width: 96%;}
    .dashboard-buttons {border-bottom: unset;}
    .dashboard-contents {display: none;}
}

@media screen and (max-width: 550px) and (max-height: 750px) {
    .other-contents {width: 87%;}
    .divide-buttons {flex-direction: column;}
    .left-side, .right-side {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dashboard-buttons {border-bottom: unset;}
    .dashboard-contents {display: none;}
}

@media screen and (min-width: 1200px) and (max-width: 1300px) and (min-height: 750px) and (max-height: 850px), (min-width: 1100px) {
    .dashboard-buttons {width: 42%;}
}