@media screen and (max-width: 480px) {
    .dashboard-buttons {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dashboard-buttons > :first-child {
        flex-basis: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 550px) and (max-height: 750px) {
    .dashboard-buttons {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dashboard-buttons > :first-child {
        flex-basis: 100%;
        text-align: center;
    }
}
@media screen and (min-width: 481px) and (max-width: 1020px), (min-width: 950px) and (max-width: 1100px) and (max-height: 768px), (width: 1024px) and (height: 1366px) {
    .other-contents {width: 77%;}
}