table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 12px;
}

th {
    background-color: var(--accent);
    color: white;
}
th,
td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: var(--bg-primary);
}
.attendance-overview {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
