<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/page-specific/attendance/scanner.css">
</head>

<body>

  <div class="scanner-container">
    <h2>Scan Attendance QR</h2>

    <div id="reader"></div>

    <div class="status" id="status">
      Waiting for QR...
    </div>
  </div>

  <script src="https://unpkg.com/html5-qrcode"></script>
  <script src="/js/page-specific/scanner.js"></script>
</body>

</html>