form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border: 1px solid var(--accent);
    border-radius: 10px;
    padding: 1rem 1.2rem;
    background: var(--bg-seondary);
}
legend {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0 0.5rem;
    color: var(--accent);
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-group label {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    color: var(--text-primary);
    font-weight: bold;
}
.form-group input,
.form-group select {
    padding: 0.7rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--text-primary);
    color: black;
    transition: border 0.2s ease;
}
.form-group input:focus,
.form-group select:focus {
    border-color: var(--accent);
    outline: none;
    background-color: var(--text-primary);
}
.form-group textarea {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    line-height: 2rem;
}