.form-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem 2rem;
}
.form-subFlex {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-group label {
    font-size: 0.95rem;
    margin-bottom: 0.3rem;
    color: var(--text-primary);
}
.form-group input,
.form-group select {
    padding: 0.7rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: border 0.2s ease;
}
.form-group input:focus,
.form-group select:focus {
    border-color: var(--accent);
    outline: none;
    background-color: var(--bg-secondary);
}
