header {gap: 28rem;}
.left-side {justify-content: unset;}
.guide {
    background: var(--bg-primary);
    height: 99%;
    width: 98%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.8rem;
    overflow-y: auto;
}
.font-styling h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.font-styling h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.font-styling h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.font-styling p {
    font-size: 1rem;
    margin-bottom: 1rem;
}
table {margin-bottom: 1rem;}
.font-styling ul {margin: 0 1.5rem 1rem 1.5rem;}
.tip {color: var(--tip-text)}
.error {color: var(--error)}