<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="/css/global/global-layout.css">
    <link rel="stylesheet" href="/css/global/dB-global.css">
    <link rel="stylesheet" href="/css/global/dark-theme.css">
    <link rel="stylesheet" href="/css/global/scrollbar.css">

    <script src="https://kit.fontawesome.com/f75c66b724.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Underdog&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rock+Salt&family=WDXL+Lubrifont+TC&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav id="navbar" class="">
            <div class="nav-group1">
                <div class="logo">
                    <p class="font-1"><strong>AttendSmart</strong></p>
                </div>
                <div class="nav-links">
                    <a href="#" class="nav-links-property hide">Home</a>
                    <a href="/getStarted" class="nav-links-property hide" id="getting-started">Getting Started</a>
                </div>
            </div>
            <div class="nav-group2">
                <div class="nav-links">
                    <a href="/getStarted" class="nav-links-property hide" id="getting-started">Getting Started</a>
                    <a href="/dashboard" class="nav-links-property hide">Dashboard</a>
                    <a href="/support" class="nav-links-property hide">Support</a>
                    <a href="/log" class="nav-links-property hide">Logs</a>
                    <a href="/register" class="nav-links-property hide" id="register">Register</a>
                    <a href="/login" class="nav-links-property hide">Login</a>
                    <p class="nav-links-property"><i class="fa-solid fa-moon"></i></p>
                    <p class="nav-links-property" id="sun"><i class="fa-regular fa-sun"></i></p>
                    <p class="nav-links-property" id="menu-toggle"><i class="fa-solid fa-bars"></i></p>
                </div>
            </div>

            <div class="slide-menu">
                <div class="nav-close-icon">
                    <p class="sidemenu-heading"><strong>AttendSmart</strong></p>
                    <p class="nav-links-property"><i class="fa-solid fa-xmark" id="close-toggle"></i></p>
                </div>
                <div class="slide-menu-links">
                    <a href="/getStarted" class="nav-links-property hide" id="getting-started">Getting Started</a>
                    <a href="/dashboard" class="nav-links-property hide">Dashboard</a>
                    <a href="/support" class="nav-links-property hide">Support</a>
                    <a href="/log" class="nav-links-property hide">Logs</a>
                    <a href="/register" class="nav-links-property hide" id="register">Register</a>
                    <a href="/login" class="nav-links-property hide">Login</a>
                </div>
                <div class="quick-buttons-slide-menu">
                    <p class="sidemenu-heading"><strong>Quick Buttons</strong></p>
                    <div class="edit-tasks">
                        <button onclick="editInfo()">Edit Info</button>
                        <button>Change Password</button>
                    </div>
                    <div class="student-tasks">
                        <button onclick="startSession()">Join Session</button>
                        <button onclick="startSession()">Join Classroom</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero-bg">
            <div class="bg-content">
                <div id="studentDashboard-heading">
                    <h1>Welcome to Employee Dashboard</h1>
                    <p>Hello, feel free to explore!</p>
                </div>
                <div class="display-student-details">
                    <div class="students-basic-details">
                        <h1>Employee Details</h1>
                        <p><strong>Name: </strong>&nbsp;Faisal Taslim</p>
                        <p><strong>Role: </strong>&nbsp;Employee</p>
                        <p><strong>Contact: </strong>&nbsp;+917449925137</p>
                        <p><strong>Email: </strong>&nbsp;faisal.taslim.22@aot.edu.in</p>
                    </div>
                    <div class="student-pfp">
                        <div class="profile-image"></div>
                    </div>
                </div>
                <div class="quick-buttons">
                    <h1>Quick Buttons</h1>
                    <div class="edit-tasks">
                        <button onclick="editInfo()">Edit Info</button>
                        <button>Change Password</button>
                    </div>
                    <div class="student-tasks">
                        <button onclick="startSession()">Scan QR</button>
                    </div>
                </div>
            </div>
            <div class="other-contents">
                <div class="attendance-status">
                    <h1>Enrolled subjects</h1>
                    <p class="fontSize"><strong>Subject 1:</strong> Mathematics</p>
                    <p class="fontSize"><strong>Subject 2:</strong> Physics</p>
                    <p class="fontSize"><strong>Subject 3:</strong> Chemistry</p>
                    <p class="fontSize"><strong>Subject 4:</strong> English Literature</p>
                    <p class="fontSize"><strong>Subject 5:</strong> Computer Science</p>
                    <p class="fontSize"><strong>Subject 6:</strong> Environmental Science</p>
                    <p class="fontSize"><strong>Subject 7:</strong> History</p>
                    <p class="fontSize"><strong>Subject 8:</strong> Economics</p>
                    <p class="fontSize"><strong>Subject 9:</strong> Biology</p>
                </div>
                <div class="attendance-status attendance-history">
                    <h1>Attendance History</h1>
                    <p class="warn">No Data yet! Come back later.</p>
                    <img src="/img/dB-noData.svg" alt="No Data" class="svg">
                </div>
                <div class="leave-and-notices attendance-status">
                    <div class="leave-notice-btn">
                        <button class="btn" id="showNoticesBtn">Notices</button>
                        <button class="btn" id="showLeaveBtn">Request Leave</button>
                    </div>
                    <div class="display-leave-and-notices-contents">
                        <div class="notices">
                            <p class="warn">No Data yet! Come back later.</p>
                            <img src="/img/dB-noData.svg" alt="No Data" class="svg">
                        </div>
                        <div class="request-leave">
                            <form class="leave-form">
                                <label for="leave-date">Select Date:</label>
                                <input type="date" id="leave-date" name="leave-date" required>

                                <label for="reason">Reason:</label>
                                <textarea id="reason" name="reason" rows="3" placeholder="Write your reason..."
                                    required></textarea>

                                <button type="submit" class="btn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="buttons-actions attendance-status">
                    <h1>Action Panel</h1>
                    <p class="fontSize">
                        This is a space where all the actions of any buttons you click above will take place.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="foot-content">
            <div class="foot1">
                <div class="useful-links">
                    <p><strong>Useful-links</strong></p>
                    <a href="/register" class="links foot-links" target="_blank">Register</a>
                    <a href="/support" class="links foot-links" target="_blank">Support</a>
                    <a href="/log" class="links foot-links" target="_blank">LogBook</a>
                    <a href="/Dashboard/dashboard-home" class="links foot-links" target="_blank">Dashboard</a>
                </div>
                <div class="legal">
                    <p><strong>Legal</strong></p>
                    <a href="/terms" class="links foot-links" target="_blank">Terms & conditions</a>
                    <a href="/privacy" class="links foot-links" target="_blank">Privacy Policy</a>
                    <a href="/refund" class="links foot-links" target="_blank">Refund Policy</a>
                </div>
            </div>
            <div class="foot2">
                <div class="socials">
                    <p><strong>Socials</strong></p>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-instagram"></i> |
                        @faisal_9542</a>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-discord"></i> |
                        @famaeoxiaa</a>
                    <a href="#" class="links foot-links" target="_blank"><i class="fa-brands fa-github"></i> |
                        @FaisalTaslim</a>
                </div>
                <div class="contacts">
                    <p><strong>Contacts</strong></p>
                    <p><i class="fa-solid fa-phone"></i> | +91 7449925137 </p>
                    <p><i class="fa-solid fa-envelope"></i> | mailto: support@attendsmart.io</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/global/sideNav.js"></script>
    <script src="/js/global/update-footerLayout-for-tablets.js"></script>
    <script src="/js/page-specific/dashboard/change-content.js"></script>
    <script src="/js/page-specific/dashboard/toggleNotice.js"></script>
</body>

</html>